# Configuración del Bot de WhatsApp

# Mensaje de respuesta al sticker
BOT_RESPONSE_MESSAGE=YO

# ID del grupo y JID de administrador separados por coma.
# Ejemplo: groupId@g.us,5511991234567@s.whatsapp.net
TARGET_GROUP_ID=1234567890-0987654321@g.us,5511991234567@s.whatsapp.net

# Habilitar o deshabilitar comandos (!on/!off) vía chat
ENABLE_COMMANDS=true

# Nivel de log para pino (debug, info, warn, error)
LOG_LEVEL=debug